---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.project-image-sources {
  margin-top: 2rem;

  h2 {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: #666;                // light grey
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;

    li {
      font-size: 0.85rem;
      color: #666;                // light grey
      font-style: italic;
      margin-bottom: 0.25rem;
    }
  }
}